[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/boundry-deployment-kit"]
	path = lib/boundry-deployment-kit
	url = https://github.com/tasibii/boundry-deployment-kit
